<%= form_with model: current_user, url: update_address_path, method: :patch do |form| %>
  <div class="field">
    <%= form.label :address %><br />
    <%= form.text_field :address %>
  </div>
  <div class="field">
    <%= form.label :province %><br />
    <%= form.collection_select :province, Province.all, :id, :name, prompt: "Select Province" %>
  </div>
  <div>
    <%= form.submit 'Provide address' %>
  </div>
<% end %>
