<article class="card-footer">
    <div><strong>
      <%= @abouts.find_by(id: 2).content %> <br>
      <%= @abouts.find_by(id: 3).content %><br>
      <%= @abouts.find_by(id: 4).content %><br>
      <%= @abouts.find_by(id: 5).content %>
    </strong></div>
</article>
<article class="card-footer">
  <div class="card-footer-item">
    <h2><%= @abouts.find_by(id: 6).content %></h2>
  </div>
  <div class="card-footer-item">
    <h2><%= @abouts.find_by(id: 7).content %></h2>
  </div>
  <div class="card-footer-item">
    <h2><%= @abouts.find_by(id: 8).content %></h2>
  </div>
</article>

<div class="card-footer">
  <h2><%= @abouts.offset(5).third.content %></h2>
</div>
<div class="card-footer-item">
  <p><Strong><%= @abouts.offset(5).fourth.content %></Strong> </p>
</div>

<div class="columns">
  <div class="column">
    <ol class="ml-5"> <strong><%= @abouts.offset(6).fourth.content %></strong>
      <li> <%= @abouts.offset(7).fourth.content %></li>
      <li> <%= @abouts.offset(8).fourth.content %></li>
      <li> <%= @abouts.offset(9).fourth.content %></li>
      <li> <%= @abouts.offset(10).fourth.content %></li>
      <li> <%= @abouts.offset(11).fourth.content %></li>
      <li> <%= @abouts.offset(12).fourth.content %></li>
      <li> <%= @abouts.offset(13).fourth.content %></li>
      <li> <%= @abouts.offset(14).fourth.content %></li>
      <li> <%= @abouts.offset(15).fourth.content %></li>
      <li> <%= @abouts.offset(16).fourth.content %></li>
      <li> <%= @abouts.offset(17).fourth.content %></li>
      <li> <%= @abouts.offset(18).fourth.content %></li>
      <li> <%= @abouts.offset(19).fourth.content %></li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"><strong>Manufacturers:</strong>
      <li> <%= @abouts.offset(20).fourth.content %></li>
      <li> <%= @abouts.offset(21).fourth.content %></li>
      <li> <%= @abouts.offset(22).fourth.content %></li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <strong>Social Media:</strong>
      <li> <%= @abouts.offset(23).fourth.content %></li>
      <li> <%= @abouts.offset(24).fourth.content %></li>
      <li> <%= @abouts.offset(25).fourth.content %></li>
      <li> <%= @abouts.offset(26).fourth.content %></li>
      <li> <%= @abouts.offset(27).fourth.content %></li>
      <li> <%= @abouts.offset(28).fourth.content %></li>
      <li> <%= @abouts.offset(29).fourth.content %></li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <strong>Payment:</strong>
      <li> <%= @abouts.offset(30).fourth.content %></li>
      <li> <%= @abouts.offset(31).fourth.content %></li>
      <li> <%= @abouts.offset(32).fourth.content %></li>
      <li> <%= @abouts.offset(33).fourth.content %></li>
      <li> <%= @abouts.offset(34).fourth.content %></li>
      <li> <%= @abouts.offset(35).fourth.content %></li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <Strong>Order:</Strong>
      <li> <%= @abouts.offset(36).fourth.content %></li>
      <li> <%= @abouts.offset(37).fourth.content %></li>
      <li> <%= @abouts.offset(38).fourth.content %></li>
      <li> <%= @abouts.offset(39).fourth.content %></li>
      <li> <%= @abouts.offset(40).fourth.content %></li>
      <li> <%= @abouts.offset(41).fourth.content %></li>
    </ol>
  </div>

  <div class="column">
     <ol class="ml-5"> <Strong>admin_users:</Strong>
      <li> <%= @abouts.offset(42).fourth.content %></li>
      <li> <%= @abouts.offset(43).fourth.content %></li>
      <li> <%= @abouts.offset(44).fourth.content %></li>
      <li> <%= @abouts.offset(45).fourth.content %></li>
      <li> <%= @abouts.offset(46).fourth.content %></li>
    </ol>
  </div>
</div>

<div class="columns">
  <div class="column">
    <ol class="ml-5"> <strong>Province:</strong>
      <li> <%= @abouts.offset(49).fourth.content %></li>
      <li> <%= @abouts.offset(50).fourth.content %></li>
      <li> <%= @abouts.offset(51).fourth.content %></li>
      <li> <%= @abouts.offset(52).fourth.content %></li>
      <li> <%= @abouts.offset(53).fourth.content %></li>
    </ol>
  </div>

  <div class="column">
    <ol class="ml-5"> <strong>Users:</strong>
      <li> <%= @abouts.offset(54).fourth.content %></li>
      <li> <%= @abouts.offset(55).fourth.content %></li>
      <li> <%= @abouts.offset(46).fourth.content %></li>
      <li> <%= @abouts.offset(47).fourth.content %></li>
      <li> <%= @abouts.offset(48).fourth.content %></li>
      <li> <%= @abouts.offset(56).fourth.content %></li>
      <li> <%= @abouts.offset(57).fourth.content %></li>
    </ol>
  </div>
</div>
</article>